$primary-color    : #547CFF;
$blue             : #0056b9;
$green            : #03c10a;
$yellow           : #fbc805;
$orange           : #fb7905;
$violet           : #c105fb;
$red              : #ff3800;
$pink             : #fd4fa1;

$main-light       : #fbfbfb;
$main-color       : #333;